<!DOCTYPE html>
<html>
<head>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/errorhandling.js"></script>

   
	
</head>
<body>

     <div class="row">
        <div class="col-md-9">
            <img class="col-md-6 img-thumbnail" src="../Content/img/logo.jpg" />
            <h2 class="col-md-6">Activities</h2>
        </div> 

         <div class="col-md-3">
             <div class="row">
                <button type="button" class="btn btn-default col-md-4">Home</button>
                 <button type="button" class="btn btn-default col-md-4">Back</button>
                 <button type="button" class="btn btn-default col-md-4">Next</button>
             
                     <button type="button" class="btn btn-default col-md-4">Navigation</button>
              
             </div>
         </div>
     
     
     </div>


           
</body>
</html>
