<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PERM Register form</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/errorhandling.js"></script>
    
    <script language="javascript">
        //method to check passwd
        function checkPassword(parameter)
        {
            var minNumberofChars = 6;
            var maxNumberofChars = 16;
            var response = "";
            var password = document.getElementById(parameter).value;
            var reP = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;

            if (parameter == "Rpassword" && (document.getElementById("password").value != document.getElementById("Rpassword").value))
            {
                document.getElementById("signup-alert").style.display = "block";
                document.getElementById("signup-alert").innerHTML = "Passwords do not match";
            }
            if (parameter == "password" && (reP.test(password) == false || (password.length < minNumberofChars || password.length > maxNumberofChars)) ) {
                document.getElementById("signup-alert").style.display = "block";
                document.getElementById("signup-alert").innerHTML = "Password should be from 6 to 16 symbols and<br>should contain atleast one digit and one special character !@#$%^&*";
            }
        }
        //function checks if user name is valid e-mail, and provided email is not already used byt the registered user
        function checkUsername()
        {
            var username = document.getElementById("email").value;
            var reU = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (reU.test(username) == false) {
                document.getElementById("signup-alert").style.display = "block";
                document.getElementById("signup-alert").innerHTML = "User name is not valid. Userame should be user@email.adress";
            }
            if (document.getElementById("signup-alert").style.display == "none") {
                //when passing string with dots to API always ADD  slash at the back of URI
                //this ajax checks if user name isnot occupied
                $.ajax({
                    url: "/api/Users/checkEmail/" + username + "/", //WE ADD "/" to GET Ajax method otherwise [.] will not resolve the target controller action!! GET mean we have to attacha all the parameters to the URI
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) { // this part will be executed when controller return Ok -> controler found email in database
                        document.getElementById("signup-alert").style.display = "block";
                        document.getElementById("signup-alert").innerHTML = "User name is already registered";
                    },
                    error: function (request, message, error) { // this part will be executed when controller returns enything but the Ok HTTP status (200)
                        handleException(request, message, error);
                    }
                });
            } 
        }
        //disables/hides error content on page
        function clearError()
        {
            document.getElementById("signup-alert").style.display = "none";
            document.getElementById("signup-alert").innerHTML = "";
        }
        //function checks if field with 'parameter' is not empty
        function checkNonEmpty(parameter)
        {
            var fieldVal = document.getElementById(parameter).value;
            if (fieldVal == "")
            {
                document.getElementById("signup-alert").style.display = "block";
                document.getElementById("signup-alert").innerHTML = "Field " + document.getElementById(parameter).getAttribute("placeholder") + " cannot be emty";
            }
        }
        //checks if input filds are not empty and the calls saveUser on controller
        function registerUser()
        {
            checkNonEmpty("email");
           
            checkNonEmpty("firstname");

            checkNonEmpty("lastname");

            checkNonEmpty("password");

           checkNonEmpty("Rpassword");


            if (document.getElementById("signup-alert").style.display == "none")
            {
                var newUser = new Object(); //create new object. Of new object attribute names matches class attributes within the controller, then automated 
                newUser.userName = document.getElementById("email").value;
                newUser.userPassword = document.getElementById("password").value;
                newUser.Name = document.getElementById("firstname").value;
                newUser.Surname = document.getElementById("lastname").value;
                $.ajax({
                    url: "/api/Users/saveUser" , //POST mean that data goes inside the HTML body, but not the URI
                    type: 'POST',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(newUser),  //all the body we convert to Json format and pass it to the controller.0
                                                    //Conroller in background will convert this string into User object of the Models User class ir attribute names matches each other
                    success: function (response)
                    {
                        userSaved(response); //call method if controller returns Ok (HTTP 200)
                    },
                    error: function (request, message, error)
                    {
                        handleException(request, message, error); //call group of methods if got error from controller.
                        userNotSaved(message);
                    }
                });
            }
        }
        //called if user saved successfully
        function userSaved(response)
        {
            document.getElementById("signup-alert-success").style.display = "block";
            document.getElementById("signup-alert-success").innerHTML = "<strong> Success!</strong> User registered. Soon you will be redirected to Login page";
            document.getElementById("signupform").reset(); //erases all fields
            setTimeout(function () { window.location = "Logon.html" }, 5000); //redirect after 5s to logon.html
        }
        //called if we could not managed to save user
        function userNotSaved(response) {
            document.getElementById("signup-alert").style.display = "block";
            document.getElementById("signup-alert").innerHTML = "<strong> Failure!</strong> Possibly User name is invalid. Please try again.";
        }
        </script>
</head>
<body>
    <div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up for PERM</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="Logon.html">Sign In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div id="signup-alert" style="display:none" class="alert alert-danger"></div>
                        <div id="signup-alert-success" style="display:none" class="alert alert-success"></div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">User name</label>
                            <div class="col-md-9">
                                <input type="text" id="email" class="form-control" name="email" placeholder="Email Address" onblur="checkUsername()"  onfocus="clearError()">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" id="firstname" class="form-control" name="firstname" placeholder="First Name" onblur="checkNonEmpty('firstname')"  onfocus="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Last Name" onblur="checkNonEmpty('lastname')" onfocus="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password" class="form-control" name="passwd" placeholder="Password" onblur="checkPassword('password')"  onfocus="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Rpassword" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" id="Rpassword" class="form-control" name="Rpasswd" placeholder="Repeat password" onblur="checkPassword('Rpassword')" onfocus="clearError()">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" onclick="registerUser()" class="btn btn-info"><i class="icon-hand-right"></i>Sign Up</button>
                                <span style="margin-left:8px;">or</span>
                            </div>
                        </div>

                        <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Sign Up with Facebook</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
